<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<%= render 'layouts/head' %>
		<%= rtl_tags if rtl? %>		
	</head>

<body class="<%= 'rtl' if rtl? %>">
<div id="top-bar"></div>
<div id="upper-wrapper" class="jumbotron">
	<div class="container">
	<div class="row">
		<div class="col-md-12">
			<%= render :partial => 'layouts/header' %>
		</div>
	</div>
</div>
</div>
<div id="body-wrapper" class="container">
		<div class="row">
			<div class="col-md-12">
				<div id="main-body" >
					<%= bootstrap_flash %>
					<%= render 'layouts/page_title' unless params[:controller] == 'home' %>
					<div id="main-content">
						<%= yield %>
					</div>
				</div>
			</div>
		</div>
</div>

<div id="footer-wrapper">
	<div class="container">
			<%= render :partial => 'layouts/footer' %>
	</div>
</div>

</body>
</html>
