<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
	<head>
		<%= render partial: 'layouts/head' %>
	</head>
	<%= css_overrides %>

<body>

<div class="content">
	<div id="top-bar"></div>
	<div id="upper-wrapper" class="jumbotron">
		<div class="container">
			<div class="row">
				<div class="col-md-12">
					<%= render :partial => 'layouts/header' %>
				</div>
			</div>
		</div>
	</div>
	<div id="body-wrapper" class="container">
			<div class="row">
				<div class="col-md-12">
					<div id="main-body" >
						<%#= bootstrap_flash %>
						<div id="main-content">
							<%= render 'layouts/page_title' unless params[:controller] == 'home' %>
							<%= yield %>
						</div>
					</div>
				</div>
			</div>
	</div>
</div>

<div id="footer-wrapper">

	<div id="get-help-wrapper" class="wrapper">
		<div class="row">
			<div class="container">
				<div class="col-md-6 text-center">
					<h3><%= t(:get_help_header, default: "Still Need Help?") %></h3>
				</div>
				<div class="col-md-6 text-center">
					<%= link_to t(:get_help_button, default: "Start a Discussion with Us"), new_topic_path, class: 'btn btn-primary btn-lg get-help-button' %>
				</div>
			</div>
		</div>
	</div>

	<div class="container">
		<%= render :partial => 'layouts/footer' %>
	</div>
</div>
<%= "<script src='/assets/widget.v1.js'></script>".html_safe if AppSettings['widget.show_on_support_site'] == '1' %>
</body>
</html>
